### SETUP & CONSTANTS

In [1]:
import re
import os
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
import pyspark.sql.functions as F
from pyspark.sql import Window
from functools import reduce
from collections import defaultdict
import json

# CONSTANTS
PARQUET_INPUT_PATH = 'storage/taxi_industry/parquet'
CSV_INPUT_PATH = 'storage/taxi_industry/csv'
OUTPUT_PATH = 'storage/taxi_industry/parquet_processed'
TABLE_NAMES = [
    'yellow_tripdata',
    'green_tripdata',
]

In [2]:
def unique(df, group_by, select_cols,min=1):
    return df.groupBy(*group_by).agg(F.collect_set(F.struct(*select_cols)).alias('objs')).where(F.array_size('objs')>min)

In [3]:
spark= (
    SparkSession.builder.appName('transform')
    .getOrCreate()
)

### GENERIC PARQUET LOAD

In [4]:
df_raw={}
for table_name in TABLE_NAMES:
    df_raw[table_name] = spark.read.parquet(f'{PARQUET_INPUT_PATH}/{table_name}_2025*.parquet')
    print(f'{table_name}:')
    print(f'{df_raw[table_name].count()=}')
    df_raw[table_name].limit(2).show()

yellow_tripdata:
df_raw[table_name].count()=19760424
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-05-01 00:07:06|  2025-05-01 00:24:15|              1|          3.7|         1|                 N|         140|         202|           1|       18.4| 4.25|    0.5|      4.85|         0.0|                  1.0|        29.0|                 2.5|        0.0|              0.75|
|       2| 2025-05-01 00:07:44|  2025-05-01 00:14:27|              1|         1.03|         1|                 N|         234|         161|           1|        8.6|  1.0|    0.5|       4.3|         0.0|                  1.0|       18.65|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+

green_tripdata:
df_raw[table_name].count()=254017
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|cbd_congestion_fee|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------------+
|       2| 2025-05-01 00:17:04|  2025-05-01 00:56:06|                 N|         1|          25|         216|              1|         9.34|       44.3|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        46.8|           1|        1|                 0.0|               0.0|
|       2| 2025-05-01 00:56:16|  2025-05-01 01:10:26|                 N|         1|         160|         129|              1|         2.95|       16.3|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        18.8|           2|        1|                 0.0|               0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------------+

### COLUMN INSPECTION

In [5]:
columns = defaultdict(list)
for c in df_raw['yellow_tripdata'].columns:
    columns[c].append('yellow')

for c in df_raw['green_tripdata'].columns:
    columns[c].append('green')

print('shared columns:')
print([c for c in columns.keys() if len(columns[c]) == 2])
print('unique columns:')
print([(k,v) for k,v in columns.items() if len(v) == 1])

shared columns:
['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'cbd_congestion_fee']
unique columns:
[('tpep_pickup_datetime', ['yellow']), ('tpep_dropoff_datetime', ['yellow']), ('Airport_fee', ['yellow']), ('lpep_pickup_datetime', ['green']), ('lpep_dropoff_datetime', ['green']), ('ehail_fee', ['green']), ('trip_type', ['green'])]

### TABLES

#### df_trip

In [17]:
shared_columns = [
    'VendorID',
    'passenger_count',
    'trip_distance', # in miles
    'RatecodeID',
    'store_and_fwd_flag', # Y = store and forward trip, N = not a store and forward trip
    'PULocationID', # taximeter was engaged.
    'DOLocationID', # taximeter was disengaged
    'payment_type',

    # costs/charges
    'fare_amount', # The time-and-distance fare calculated by the meter
    'extra',
    'mta_tax',
    'tip_amount', # Tip amount â€“ This field is automatically populated for credit card tips. Cash tips are not included.
    'tolls_amount',
    'improvement_surcharge',
    'congestion_surcharge',
    'cbd_congestion_fee', # Per-trip charge for MTA's Congestion Relief Zone
    
    'total_amount',
]

df_trip = (
    reduce(
        DataFrame.unionByName,
        [
            df_raw['yellow_tripdata'].select(
                F.lit('yellow').alias('taxi_type'),
                *shared_columns,
                F.col('tpep_pickup_datetime').alias('pickup_datetime'),
                F.col('tpep_dropoff_datetime').alias('dropoff_datetime'),
            ),
            df_raw['green_tripdata'].select(
                F.lit('green').alias('taxi_type'),
                *shared_columns,
                F.col('lpep_pickup_datetime').alias('pickup_datetime'),
                F.col('lpep_dropoff_datetime').alias('dropoff_datetime'),
            ),
        ]
    )
    .withColumn('id', F.monotonically_increasing_id()) # unique identifier for each trip
    .withColumn('duration', F.round((F.unix_timestamp('dropoff_datetime') - F.unix_timestamp('pickup_datetime'))/60,2)) # in minutes
    .withColumn('charge_per_mile', F.round(F.col('total_amount') / F.col('trip_distance'),2)) # in $/mile
    .withColumn('charge_per_minute', F.round(F.col('total_amount') / (F.col('duration')),2)) # in $/minute
    .withColumn('pickup_hour', F.hour('pickup_datetime')) # 0 - 23
    .withColumn('day_of_week', F.dayofweek('pickup_datetime')) # 1=Sunday, 7=Saturday
    .withColumn('non_fare_amount', F.round(F.col('total_amount') - F.col('fare_amount'),2)) # non-fare amount (tips, tolls, etc.)
)

df_trip.show(10)

+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+---+--------+---------------+-----------------+-----------+-----------+---------------+
|taxi_type|VendorID|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|congestion_surcharge|cbd_congestion_fee|total_amount|    pickup_datetime|   dropoff_datetime| id|duration|charge_per_mile|charge_per_minute|pickup_hour|day_of_week|non_fare_amount|
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+---+--------+---------------+-----------------+-----------+-----------+---------------+
|   yellow|       1|              1|          3.7|         1|                 N|         140|         202|           1|       18.4| 4.25|    0.5|      4.85|         0.0|                  1.0|                 2.5|              0.75|        29.0|2025-05-01 00:07:06|2025-05-01 00:24:15|  0|   17.15|           7.84|             1.69|          0|          5|           10.6|
|   yellow|       2|              1|         1.03|         1|                 N|         234|         161|           1|        8.6|  1.0|    0.5|       4.3|         0.0|                  1.0|                 2.5|              0.75|       18.65|2025-05-01 00:07:44|2025-05-01 00:14:27|  1|    6.72|          18.11|             2.78|          0|          5|          10.05|
|   yellow|       2|              1|         1.57|         1|                 N|         161|         234|           2|       10.0|  1.0|    0.5|       0.0|         0.0|                  1.0|                 2.5|              0.75|       15.75|2025-05-01 00:15:56|2025-05-01 00:23:53|  2|    7.95|          10.03|             1.98|          0|          5|           5.75|
|   yellow|       2|              1|         9.48|         1|                 N|         138|          90|           1|       40.8|  6.0|    0.5|      11.7|        6.94|                  1.0|                 2.5|              0.75|       71.94|2025-05-01 00:00:09|2025-05-01 00:25:29|  3|   25.33|           7.59|             2.84|          0|          5|          31.14|
|   yellow|       2|              1|          1.8|         1|                 N|          90|         231|           1|       10.0|  1.0|    0.5|       1.5|         0.0|                  1.0|                 2.5|              0.75|       17.25|2025-05-01 00:45:07|2025-05-01 00:52:45|  4|    7.63|           9.58|             2.26|          0|          5|           7.25|
|   yellow|       2|              1|         5.11|         1|                 N|         138|         226|           1|       22.6|  6.0|    0.5|      6.02|         0.0|                  1.0|                 0.0|               0.0|       37.87|2025-05-01 00:09:24|2025-05-01 00:22:04|  5|   12.67|           7.41|             2.99|          0|          5|          15.27|
|   yellow|       1|              0|          1.5|         1|                 N|         140|         263|           1|       11.4|  3.5|    0.5|      4.05|         0.0|                  1.0|                 2.5|               0.0|       20.45|2025-05-01 00:18:14|2025-05-01 00:27:38|  6|     9.4|          13.63|             2.18|          0|          5|           9.05|
|   yellow|       2|              2|         0.99|         1|                 N|         234|          79|           1|        7.9|  1.0|    0.5|      2.73|         0.0|                  1.0|                 2.5|              0.75|       16.38|2025-04-30 23:50:34|2025-04-30 23:56:06|  7|    5.53|          16.55|             2.96|         23|          4|           8.48|
|   yellow|       2|              1|         0.47|         1|                 N|         114|         144|           2|        5.1|  1.0|    0.5|       0.0|         0.0|                  1.0|                 2.5|              0.75|       10.85|2025-05-01 00:04:45|2025-05-01 00:07:43|  8|    2.97|          23.09|             3.65|          0|          5|           5.75|
|   yellow|       7|              1|         1.09|         1|                 N|         229|          43|           1|        8.6|  0.0|    0.5|      2.87|         0.0|                  1.0|                 2.5|              0.75|       17.22|2025-05-01 00:22:31|2025-05-01 00:22:31|  9|     0.0|           15.8|             NULL|          0|          5|           8.62|
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+---+--------+---------------+-----------------+-----------+-----------+---------------+
only showing top 10 rows

#### df_taxi_zone

In [7]:
df_taxi_zone = (
    spark.read.csv(f'{CSV_INPUT_PATH}/taxi_zone_lookup.csv', header=True)
    .withColumn('LocationID', F.col('LocationID').cast('int'))
)
df_taxi_zone.show(5)
df_taxi_zone.printSchema()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

#### df_vendor

In [8]:
df_vendor = spark.createDataFrame([
    (1, 'Creative Mobile Technologies, LLC'),
    (2, 'Curb Mobility, LLC'),
    (6, 'Myle Technologies Inc'),
    (7, 'Helix'),
], ['VendorID', 'VendorName'])

#### df_rate_code

In [9]:
df_rate_code = spark.createDataFrame([
    (1, 'Standard rate'),
    (2, 'JFK'), # John F. Kennedy Airport (JFK)
    (3, 'Newark'), # Newark Airport (EWR): tolls + surcharge
    (4, 'Nassau or Westchester'), # Westchester and Nassau Counties tolls
    (5, 'Negotiated fare'), # Other Points Outside the City
    (6, 'Group ride'),
    (99, 'Null/unknown'),
], ['RatecodeID', 'RateName'])

#### df_payment_type

In [10]:
df_payment_type = spark.createDataFrame([
    (0, 'Flex Fare trip'),
    (1, 'Credit card'),
    (2, 'Cash'),
    (3, 'No charge'),
    (4, 'Dispute'),
    (5, 'Unknown'),
    (6, 'Voided trip'),
], ['payment_type','PaymentTypeName'])

### ANOMALIES

In [11]:
df_trip.where('VendorID = 7').show(5) # Vendor 7 (Helix) doesn't actually record dropoff_datetime, so we can't calculate duration or charge per mile/minute

+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+---+--------+---------------+-----------------+-----------+-----------+------------------+
|taxi_type|VendorID|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|congestion_surcharge|cbd_congestion_fee|total_amount|    pickup_datetime|   dropoff_datetime| id|duration|charge_per_mile|charge_per_minute|pickup_hour|day_of_week|   non_fare_amount|
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+---+--------+---------------+-----------------+-----------+-----------+------------------+
|   yellow|       7|              1|         1.09|         1|                 N|         229|          43|           1|        8.6|  0.0|    0.5|      2.87|         0.0|                  1.0|                 2.5|              0.75|       17.22|2025-05-01 00:22:31|2025-05-01 00:22:31|  9|     0.0|           15.8|             NULL|          0|          5|              8.62|
|   yellow|       7|              1|         5.01|         1|                 N|         148|         142|           1|       19.8|  0.0|    0.5|      6.39|         0.0|                  1.0|                 2.5|              0.75|       31.94|2025-05-01 00:01:22|2025-05-01 00:01:22| 15|     0.0|           6.38|             NULL|          0|          5|             12.14|
|   yellow|       7|              1|         5.72|         1|                 N|         230|          52|           1|       22.6|  0.0|    0.5|      5.67|         0.0|                  1.0|                 2.5|              0.75|       34.02|2025-05-01 00:43:04|2025-05-01 00:43:04| 16|     0.0|           5.95|             NULL|          0|          5|11.420000000000002|
|   yellow|       7|              1|          7.2|         1|                 N|         113|          24|           1|       35.9|  0.0|    0.5|      14.0|         0.0|                  1.0|                 2.5|              0.75|       55.65|2025-05-01 00:16:34|2025-05-01 00:16:34| 60|     0.0|           7.73|             NULL|          0|          5|             19.75|
|   yellow|       7|              1|         0.88|         1|                 N|         246|          50|           1|        5.8|  0.0|    0.5|      2.31|         0.0|                  1.0|                 2.5|              0.75|       13.86|2025-05-01 00:08:45|2025-05-01 00:08:45|170|     0.0|          15.75|             NULL|          0|          5| 8.059999999999999|
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+---+--------+---------------+-----------------+-----------+-----------+------------------+
only showing top 5 rows

### WRITE TO DISK

In [18]:
dataframe_list = [
    'df_trip',
    'df_taxi_zone',
    'df_vendor',
    'df_rate_code',
    'df_payment_type',
]

if not os.path.exists(OUTPUT_PATH):
    os.makedirs(OUTPUT_PATH)

for df_name in dataframe_list:
    print(f'Writing {df_name} to parquet...')
    globals()[df_name].write.mode('overwrite').parquet(f'{OUTPUT_PATH}/{df_name.replace("df_", "")}')
print('Finished!')

Writing df_trip to parquet...
Finished!