### SETUP & CONSTANTS

In [14]:
import re
import os
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
import pyspark.sql.functions as F
from pyspark.sql import Window
from functools import reduce
from collections import defaultdict
import json

# CONSTANTS
PARQUET_INPUT_PATH = 'storage/taxi_industry/parquet'
CSV_INPUT_PATH = 'storage/taxi_industry/csv'
OUTPUT_PATH = 'storage/taxi_industry/parquet_processed'
TABLE_NAMES = [
    'yellow_tripdata',
    'green_tripdata',
]

In [15]:
def unique(df, group_by, select_cols,min=1):
    return df.groupBy(*group_by).agg(F.collect_set(F.struct(*select_cols)).alias('objs')).where(F.array_size('objs')>min)

In [16]:
spark= (
    SparkSession.builder.appName('transform')
    .getOrCreate()
)

### GENERIC PARQUET LOAD

In [17]:
df_raw={}
for table_name in TABLE_NAMES:
    df_raw[table_name] = spark.read.parquet(f'{PARQUET_INPUT_PATH}/{table_name}_2025*.parquet')
    print(f'{table_name}:')
    print(f'{df_raw[table_name].count()=}')
    df_raw[table_name].limit(2).show()

yellow_tripdata:
df_raw[table_name].count()=19760424
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-05-01 00:07:06|  2025-05-01 00:24:15|              1|          3.7|         1|                 N|         140|         202|           1|       18.4| 4.25|    0.5|      4.85|         0.0|                  1.0|        29.0|                 2.5|        0.0|              0.75|
|       2| 2025-05-01 00:07:44|  2025-05-01 00:14:27|              1|         1.03|         1|                 N|         234|         161|           1|        8.6|  1.0|    0.5|       4.3|         0.0|                  1.0|       18.65|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+

green_tripdata:
df_raw[table_name].count()=254017
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|cbd_congestion_fee|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------------+
|       2| 2025-05-01 00:17:04|  2025-05-01 00:56:06|                 N|         1|          25|         216|              1|         9.34|       44.3|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        46.8|           1|        1|                 0.0|               0.0|
|       2| 2025-05-01 00:56:16|  2025-05-01 01:10:26|                 N|         1|         160|         129|              1|         2.95|       16.3|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        18.8|           2|        1|                 0.0|               0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------------+

### COLUMN INSPECTION

In [18]:
columns = defaultdict(list)
for c in df_raw['yellow_tripdata'].columns:
    columns[c].append('yellow')

for c in df_raw['green_tripdata'].columns:
    columns[c].append('green')

print('shared columns:')
print([c for c in columns.keys() if len(columns[c]) == 2])
print('unique columns:')
print([(k,v) for k,v in columns.items() if len(v) == 1])

shared columns:
['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'cbd_congestion_fee']
unique columns:
[('tpep_pickup_datetime', ['yellow']), ('tpep_dropoff_datetime', ['yellow']), ('Airport_fee', ['yellow']), ('lpep_pickup_datetime', ['green']), ('lpep_dropoff_datetime', ['green']), ('ehail_fee', ['green']), ('trip_type', ['green'])]

### TABLES

#### df_trip

In [19]:
shared_columns = [
    'VendorID',
    'passenger_count',
    'trip_distance', # in miles
    'RatecodeID',
    'store_and_fwd_flag', # Y = store and forward trip, N = not a store and forward trip
    'PULocationID', # taximeter was engaged.
    'DOLocationID', # taximeter was disengaged
    'payment_type',

    # costs/charges
    'fare_amount', # The time-and-distance fare calculated by the meter
    'extra',
    'mta_tax',
    'tip_amount', # Tip amount – This field is automatically populated for credit card tips. Cash tips are not included.
    'tolls_amount',
    'improvement_surcharge',
    'congestion_surcharge',
    'cbd_congestion_fee', # Per-trip charge for MTA's Congestion Relief Zone
    
    'total_amount',
]

df_trip = (
    reduce(
        DataFrame.unionByName,
        [
            df_raw['yellow_tripdata'].select(
                F.lit('yellow').alias('taxi_type'),
                *shared_columns,
                F.col('tpep_pickup_datetime').alias('pickup_datetime'),
                F.col('tpep_dropoff_datetime').alias('dropoff_datetime'),
            ),
            df_raw['green_tripdata'].select(
                F.lit('green').alias('taxi_type'),
                *shared_columns,
                F.col('lpep_pickup_datetime').alias('pickup_datetime'),
                F.col('lpep_dropoff_datetime').alias('dropoff_datetime'),
            ),
        ]
    )
    .withColumn('id', F.monotonically_increasing_id()) # unique identifier for each trip
    .withColumn('duration', F.round((F.unix_timestamp('dropoff_datetime') - F.unix_timestamp('pickup_datetime'))/60,2)) # in minutes
    .withColumn('charge_per_mile', F.round(F.col('total_amount') / F.col('trip_distance'),2)) # in $/mile
    .withColumn('charge_per_minute', F.round(F.col('total_amount') / (F.col('duration')),2)) # in $/minute
    .withColumn('pickup_hour', F.hour('pickup_datetime')) # 0 - 23
    .withColumn('day_of_week', F.dayofweek('pickup_datetime')) # 1=Sunday, 7=Saturday
    .withColumn('non_fare_amount', F.round(F.col('total_amount') - F.col('fare_amount'),2)) # non-fare amount (tips, tolls, etc.)
    
    .where('duration > 1 and trip_distance > 0.1') # filter out unrealistic trip durations and distances
    .where('total_amount between 1 and 2000') # filter out unrealistic trip costs
)
df_trip.orderBy(F.col('charge_per_minute').desc()).show(10)

+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+-----------+--------+---------------+-----------------+-----------+-----------+---------------+
|taxi_type|VendorID|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|congestion_surcharge|cbd_congestion_fee|total_amount|    pickup_datetime|   dropoff_datetime|         id|duration|charge_per_mile|charge_per_minute|pickup_hour|day_of_week|non_fare_amount|
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+-----------+--------+---------------+-----------------+-----------+-----------+---------------+
|   yellow|       2|              1|          0.6|         5|                 N|         226|         260|           3|      977.0|  0.0|    0.0|       0.0|       14.06|                  1.0|                 0.0|               0.0|      992.06|2025-03-18 21:06:34|2025-03-18 21:07:59| 8591800053|    1.42|        1653.43|           698.63|         21|          3|          15.06|
|   yellow|       2|              1|         0.35|         5|                 N|         230|          48|           4|      700.0|  0.0|    0.0|       0.0|         0.0|                  1.0|                 2.5|              0.75|      704.25|2025-01-14 02:08:52|2025-01-14 02:10:20|34360898821|    1.47|        2012.14|           479.08|          2|          3|           4.25|
|   yellow|       2|              1|         0.33|         5|                 N|         265|         265|           1|      320.0|  0.0|    0.0|      29.0|         0.0|                  1.0|                 0.0|               0.0|       350.0|2025-03-05 20:12:07|2025-03-05 20:13:09| 8590431032|    1.03|        1060.61|           339.81|         20|          4|           30.0|
|   yellow|       2|              1|         0.11|         5|                 N|         215|          74|           1|      264.0|  0.0|    0.0|      10.0|         0.0|                  1.0|                 0.0|               0.0|       275.0|2025-03-19 12:57:38|2025-03-19 12:58:45| 8591838784|    1.12|         2500.0|           245.54|         12|          4|           11.0|
|   yellow|       2|              1|         0.46|         5|                 N|         261|         125|           4|      400.0|  0.0|    0.0|       0.0|         0.0|                  1.0|                 2.5|               0.0|       403.5|2025-01-09 22:21:46|2025-01-09 22:23:33|34360517588|    1.78|         877.17|           226.69|         22|          5|            3.5|
|   yellow|       2|              1|         0.35|         5|                 N|         164|          68|           4|      357.0|  0.0|    0.0|       0.0|       24.06|                  1.0|                 2.5|              0.75|      385.31|2025-05-24 02:19:05|2025-05-24 02:20:48|    2618494|    1.72|        1100.89|           224.02|          2|          7|          28.31|
|   yellow|       2|              1|         0.46|         5|                 N|          21|          11|           1|      350.0|  0.0|    0.0|     105.3|         0.0|                  1.0|                 0.0|               0.0|       456.3|2025-01-09 19:58:43|2025-01-09 20:00:56|34360501036|    2.22|         991.96|           205.54|         19|          5|          106.3|
|   yellow|       2|              4|         0.27|         5|                 N|          65|          65|           1|      220.0|  0.0|    0.0|      44.2|         0.0|                  1.0|                 0.0|               0.0|       265.2|2025-05-04 16:40:56|2025-05-04 16:42:14|     418231|     1.3|         982.22|            204.0|         16|          1|           45.2|
|   yellow|       2|              1|         0.21|         5|                 N|         100|         164|           4|      200.0|  0.0|    0.0|       0.0|         0.0|                  1.0|                 2.5|              0.75|      204.25|2025-04-04 00:29:45|2025-04-04 00:30:47|17180208132|    1.03|         972.62|            198.3|          0|          6|           4.25|
|   yellow|       1|              1|          0.2|         5|                 N|         265|         265|           1|     196.25| 3.25|    0.5|      1.11|         0.0|                  1.0|                 2.5|              0.75|      202.11|2025-02-23 17:54:30|2025-02-23 17:55:33|25772038160|    1.05|        1010.55|           192.49|         17|          1|           5.86|
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+-------------------+-------------------+-----------+--------+---------------+-----------------+-----------+-----------+---------------+
only showing top 10 rows

#### df_taxi_zone

In [20]:
df_taxi_zone = (
    spark.read.csv(f'{CSV_INPUT_PATH}/taxi_zone_lookup.csv', header=True)
    .withColumn('LocationID', F.col('LocationID').cast('int'))
)
df_taxi_zone.show(5)
df_taxi_zone.printSchema()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

#### df_vendor

In [21]:
df_vendor = spark.createDataFrame([
    (1, 'Creative Mobile Technologies, LLC'),
    (2, 'Curb Mobility, LLC'),
    (6, 'Myle Technologies Inc'),
    (7, 'Helix'),
], ['VendorID', 'VendorName'])

#### df_rate_code

In [22]:
df_rate_code = spark.createDataFrame([
    (1, 'Standard rate'),
    (2, 'JFK'), # John F. Kennedy Airport (JFK)
    (3, 'Newark'), # Newark Airport (EWR): tolls + surcharge
    (4, 'Nassau or Westchester'), # Westchester and Nassau Counties tolls
    (5, 'Negotiated fare'), # Other Points Outside the City
    (6, 'Group ride'),
    (99, 'Null/unknown'),
], ['RatecodeID', 'RateName'])

#### df_payment_type

In [23]:
df_payment_type = spark.createDataFrame([
    (0, 'Flex Fare trip'),
    (1, 'Credit card'),
    (2, 'Cash'),
    (3, 'No charge'),
    (4, 'Dispute'),
    (5, 'Unknown'),
    (6, 'Voided trip'),
], ['payment_type','PaymentTypeName'])

### ANOMALIES

In [24]:
df_trip.where('VendorID = 7').show(5) # Vendor 7 (Helix) doesn't actually record dropoff_datetime, so we can't calculate duration or charge per mile/minute

+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+---------------+----------------+---+--------+---------------+-----------------+-----------+-----------+---------------+
|taxi_type|VendorID|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|congestion_surcharge|cbd_congestion_fee|total_amount|pickup_datetime|dropoff_datetime| id|duration|charge_per_mile|charge_per_minute|pickup_hour|day_of_week|non_fare_amount|
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+---------------+----------------+---+--------+---------------+-----------------+-----------+-----------+---------------+
+---------+--------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+--------------------+------------------+------------+---------------+----------------+---+--------+---------------+-----------------+-----------+-----------+---------------+

### WRITE TO DISK

In [25]:
dataframe_list = [
    'df_trip',
    'df_taxi_zone',
    'df_vendor',
    'df_rate_code',
    'df_payment_type',
]

if not os.path.exists(OUTPUT_PATH):
    os.makedirs(OUTPUT_PATH)

for df_name in dataframe_list:
    print(f'Writing {df_name} to parquet...')
    globals()[df_name].write.mode('overwrite').parquet(f'{OUTPUT_PATH}/{df_name.replace("df_", "")}')
print('Finished!')

Writing df_trip to parquet...
Writing df_taxi_zone to parquet...
Writing df_vendor to parquet...
Writing df_rate_code to parquet...
Writing df_payment_type to parquet...
Finished!